.footer{
    position: static;
    width: 100%;
    height: 70px;
    background: transparent;
    margin-top: -70px;
    right: 0;
    bottom: 0;  
    left: 0;
}

.footer_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media (max-width:768px) {
    .footer_content{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:8px
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .footer_content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}