.background_block{
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.3);
}

.background_none{
    display: none;
}

.logo{
    width: 138px;
    height: 51px;
    margin: 30px;
}

.menu{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #f5db13 10%, #f2b807 100%) !important;
    border-radius: 0 0 30px 30px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu_item{
    font-size: 27px;
    color: #000;
}