@import url('https://fonts.googleapis.com/css2?family=Karla&family=Source+Sans+Pro&display=swap');

:root {
  font-family: 'Karla', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  
  --primary: #F2B807;
  --second: #F28F16;
  --third: #F5DB13;
  --danger: #D93E30;
  --dark: #212121;
  --white: #F6F7F9;
  --red: #D93E30;

  --ms: 576px;
  --md: 768px;

  --col_1: 8.33%;
  --col_2: 16.66%;
  --col_3: 25%;
  --col_4: 33.33%;
  --col_5: 41.66%;
  --col_6: 50%;
  --col_7: 58.33%;
  --col_8: 66.66%;
  --col_9: 75%;
  --col_10: 83.33%;
  --col_11: 91.66%;
  --col_12: 100%;

  width: 100%;
  height: 100%;
}

#root, html, body{
  width: 100%;
  height: 100%;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1{
  font-size: 72px;
}

h2{
  font-size: 64px;
}

h3{
  font-size: 36px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 12px;
}

p{
  font-size: 16px;
}

.container {
  width: 1200px;
  height: 100%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}


@media (max-width:768px){
  .container {
    width: var(--sm) !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: var(--md) !important;
  }
}

.content{
  position: relative;
  width: 100%;
  height: 200vh;
  padding-bottom: 70px;
}